/* Header.js */
.brandNameFontStyle {
    color: black;
    /* font-family: initial; */
    font-weight: 400;
    font-size: large;
}

/* Header.js */
.navOptions{
    color: black;
    font-weight: 300;
    font-size: medium;
}

.navOptions :hover{
    text-decoration: underline;
    /* zoom: 1.05; */
  }

/* Header.js */
.navBarColorStyle {
    background-color: #d32323;
    /* background-color:#c21a09; */
}

/* 
.header__373c0__AlFmH {
    padding: 12px 0;
    background: #d32323;
    position: relative;
    z-index: 1012!important;
} */